body {
    background-color:#f2f2f2;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
nav, footer { 
    background-color: #214163;
    display: flex;
    justify-content: space-around;
}
a {
    color: #F7E282;
    padding: 25px;
    font-size: 24px;
}
nav a{
    text-decoration: none;
}
a:hover {
    background-color: #F2F2F2;
    color: #214163;
}
.link {
    color: steelblue;
    padding:0;
}
h1 {
    text-align: center;
}
img{
    width: 35%;
    display: block;
    margin: 0 auto;
}
p {
    width: 35%;
    margin: 25px auto;
    line-height: 1.2em;
}
footer p{
    background-color: #214163;
}