@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

header {
    background-color:#ABAFC6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav{
    display: flex;
    justify-content: space-around;
    grid-column: 1/2;
    grid-row: 1/1;
}
nav a{
    text-align: center;
    color: #3F3A33;
    text-decoration: none;
    padding: 35px;
    font-size: 30px;
}
nav a:hover {
    background-color: #191766;
    color: #F7E282;
}
#nav-logo{
    grid-column: 2/3;
    justify-self: center;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
#hero-img{
    padding: 20px;
    height: 700px;
    width: 1000px;
}
#hero-msg{
    grid-column: 2/4;
    font-family: "Trade Winds";
    font-size: 35px;
}
p{
    font-family: "Lora";
    font-size: 25px;
    text-indent: 50px;
}

#home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
.para1, .para2, .para3{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.subhead{
    font-family: "Trade Winds";
    font-size: 30px;
    margin-top: 30%;
}
.subhead2{
    font-family: "Trade Winds";
    font-size: 30px;
    margin-top: 30%;
}
.subhead3{
    font-family: "Trade Winds";
    font-size: 30px;
    margin-top: 30%;
}



footer{
    background-color: #ABAFC6;
    color: #191766;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #191766;
    text-decoration: none;
}
footer a:hover{
    color: #191766;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}
footer .social{
    padding-top: 15px;
}

/* Page 2 CSS */

#top-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#pic3{
    padding: 20%;
    height: 700px;
    width: 1000px;
}
#top{
    grid-column: 2/4;
    padding: 10%;
    text-indent: 50px;
    font-size: 30px;
}
#page2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}
#pic4{
    grid-column: 1/3;
    text-align: center;
}
.home-title2{
    padding-top: 15%;
    grid-column: 3/4;
    font-family: "Trade Winds";
    font-size: 30px;
}
#bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#p1{
    padding-top: 15%;
    height: 1000px;
    width: 800px;
    padding-left: 10%;
}
#p3, #p2{
    height: 700px;
    width: 1000px;
    padding: 15%;
}
#pic6{
    grid-column: 2/3;
    grid-row: 1/2;
}
#pic7{
    grid-row: 1/2;
    grid-column: 3/3;
}
.subheadz{
    font-family: "Trade Winds";
    font-size: 30px;
}
.feed1, .feed2, .feed3{
    margin-left: 10%;
    margin-right: 10%;
}